<main class="my-0">
    <section class="container-fluid bg-dark text-white py-0">
        <h1 class="title my-5">Calendriers</h1>
        <h5><a href="/gestion">Retour à la gestion</a></h5>
        <form action="/calendars/filter" method="get">
            <label for="month">Sélectionner le mois : </label>
            <input type="month" name="month">
            <button class="btn btn-primary m-1" type="submit">Rechercher</button>
        </form>
        <div class="d-flex flex-column flex-md-row">
            <section id="working" class="col-12 col-md-6">
                <h5>Horaires de travail : </h5>
                <h3 class="d-flex justify-content-center">{{month}}</h3>
                <div class="col-12 overflow-x-scroll">
                    <table class="table">
                        <thead>
                            <th>Lundi</th>
                            <th>Mardi</th>
                            <th>Mercredi</th>
                            <th>Jeudi</th>
                            <th>Vendredi</th>
                            <th>Samedi</th>
                            <th>Dimanche</th>
                        </thead>
                        <tbody>
                            {{#each working as |week|}}
                            <tr>
                                {{#each week as |day|}}
                                <td class="bg-dark">
                                    <h6>{{day.date}}</h6>
                                    <ul>
                                        {{#each day.people as |person|}}
                                        <li>{{person}}</li>
                                        {{/each}}
                                    </ul>
                                </td>
                                {{/each}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{#if session.member.is_admin}}
                <form action="/calendars/add_worker" method="post">
                    <h3>Ajouter un travailleur : </h3>
                    <div class="d-flex flex-column">
                        <div>
                            <label for="worker">Travailleur : </label>
                            <select name="worker" required>
                                {{#each members}}
                                <option value="{{firstname}}">{{firstname}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div>
                            <label for="date">Date et heure : </label>
                            <input type="datetime-local" name="date" step="900" required>
                        </div>
                    </div>
                    <button class="btn btn-primary m-1" type="submit">Ajouter</button>
                </form>
                {{/if}}
            </section>
            <section id="unavailability" class="col-12 col-md-6">
                <h5>Indisponibilités : </h5>
                <h3 class="d-flex justify-content-center">{{month}}</h3>
                <div class="col-12 overflow-x-scroll">
                    <table class="table">
                        <thead>
                            <th>Lundi</th>
                            <th>Mardi</th>
                            <th>Mercredi</th>
                            <th>Jeudi</th>
                            <th>Vendredi</th>
                            <th>Samedi</th>
                            <th>Dimanche</th>
                        </thead>
                        <tbody>
                            {{#each notWorking as |week|}}
                            <tr>
                                {{#each week as |day|}}
                                <td class="bg-dark">
                                    <h6>{{day.date}}</h6>
                                    <ul>
                                        {{#each day.people as |person|}}
                                        <li>{{person}}</li>
                                        {{/each}}
                                    </ul>
                                </td>
                                {{/each}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <form action="/calendars/add_unavailability" method="post">
                    <h3>Ajouter une Indisponibilité : </h3>
                    <div class="d-flex flex-column">
                        <div>
                            <label for="worker">Travailleur : </label>
                            <select name="worker" required>
                                {{#each members}}
                                <option value="{{firstname}}">{{firstname}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div>
                            <label for="date">Date de début : </label>
                            <input type="date" name="beginning_date" required>
                        </div>
                        <div>
                            <label for="date">Date de fin : </label>
                            <input type="date" name="ending_date">
                            <span>Optionnel</span>
                        </div>
                    </div>
                    <button class="btn btn-primary m-1" type="submit">Ajouter</button>
                </form>
            </section>
        </div>
        </div>
    </section>
</main>