<main class="my-0">
    <section class="container-fluid bg-dark text-white py-0">
        <h1 class="title my-5">Gestion du Laser Magique</h1>
        <div class="d-flex justify-content-between">
        <h5>Bonjour <a href="/profil">{{session.member.firstname}}</a> !</h5>
        <h5>Accéder aux <a href="/calendars">calendriers</a> de travail</h5>
        </div>
        <div class="d-flex flex-column col-12 mb-5">
            {{#if session.member.is_admin}}
            <div id="filter">
                <h6>Filtrer les réservations :</h6>
                <form action="/gestion/filter" method="get">
                    <div>
                        <label for="firstname">Rechercher un prénom : </label>
                        <input type="text" name="firstname">
                    </div>
                    <div>
                        <label for="date">Rechercher une date : </label>
                        <input type="date" name="date">
                    </div>

                    <button class="btn btn-primary" type="submit">Rechercher</button>
                </form>
            </div>
            {{/if}}
            <section id="reservations" class="overflow-x-scroll">
                <table class="table">
                    <thead class="bg-green">
                        <th>Heure</th>
                        <th>Prénom</th>
                        {{#if session.member.is_admin}}
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Numéro de téléphone</th>
                        {{/if}}
                        <th>Nombre de personnes</th>
                        <th>Activités</th>
                        <th>Payé par</th>
                        <th>Actions</th>
                    </thead>
                    {{#if session.member.is_admin}}
                    <tbody>
                        {{#each reservations}}
                        {{#if is_canceled}}
                        <tr class="line-throught">
                            {{else}}
                        <tr>
                            {{/if}}
                            <td class="bg-dark">{{date}}</td>
                            {{#if (eq firstname "Cette réservation n'existe pas")}}
                            <td class="bg-dark">{{firstname}}</td>
                            {{else}}
                            {{#if is_canceled}}
                            <td class="bg-dark">{{firstname}}</td>
                            {{else}}
                            <td class="bg-dark"><a href="/reservation?id={{id}}">{{firstname}}</a></td>
                            {{/if}}
                            {{/if}}
                            <td class="bg-dark">{{lastname}}</td>
                            <td class="bg-dark">{{email}}</td>
                            <td class="bg-dark">{{phone_number}}</td>
                            <td class="bg-dark">{{persons}}</td>
                            <td class="bg-dark">{{activities}}</td>
                            <td class="bg-dark">{{payment_by}}</td>
                            {{#if is_canceled}}
                            <td class="bg-dark">
                                <form action="/gestion/cancel" method="post">
                                    <input type="hidden" name="is_canceled" value="{{is_canceled}}">
                                    <button class="btn btn-primary m-1" type="submit" name="reservation"
                                        value="{{id}}">Remettre</button>
                                </form>
                            </td>
                            {{else}}
                            <td class="bg-dark">
                                {{#if (eq firstname "Cette réservation n'existe pas")}}
                                <p>Impossible</p>
                                {{else}}
                                <div class="d-flex">
                                    <form action="/gestion/cancel" method="post">
                                        <input type="hidden" name="is_canceled" value="{{is_canceled}}">
                                        <button class="btn btn-primary m-1" type="submit" name="reservation"
                                            value="{{id}}">Annuler</button>
                                    </form>
                                    <form action="/gestion/delete" method="post">
                                        <button class="btn btn-primary m-1" type="submit" name="reservation"
                                            value="{{id}}">Supprimer</button>
                                    </form>
                                </div>
                                {{/if}}
                            </td>
                            {{/if}}
                        </tr>
                        {{/each}}
                    </tbody>
                    {{else}}
                    <tbody>
                        {{#each reservations}}
                        {{#if is_canceled}}
                        <tr class="line-throught">
                            {{else}}
                        <tr>
                            {{/if}}
                            <td class="bg-dark">{{date}}</td>
                            {{#if is_canceled}}
                            <td class="bg-dark">{{firstname}}</td>
                            {{else}}
                            <td class="bg-dark"><a href="/reservation?id={{id}}">{{firstname}}</a></td>
                            {{/if}}
                            <td class="bg-dark">{{persons}}</td>
                            <td class="bg-dark">{{activities}}</td>
                            <td class="bg-dark">{{payment_by}}</td>
                            {{#if is_canceled}}
                            <td class="bg-dark">
                                <form action="/gestion/cancel" method="post">
                                    <input type="hidden" name="is_canceled" value="{{is_canceled}}">
                                    <button class="btn btn-primary m-1" type="submit" name="reservation"
                                        value="{{id}}">Remettre</button>
                                </form>
                            </td>
                            {{else}}
                            <td class="bg-dark">
                                {{#if (eq firstname "Cette réservation n'existe pas")}}
                                <p>Impossible</p>
                                {{else}}
                                <div class="d-flex">
                                    <form action="/gestion/cancel" method="post">
                                        <button class="btn btn-primary m-1" type="submit" name="reservation"
                                            value="{{id}}">Annuler</button>
                                    </form>
                                    <form action="/gestion/delete" method="post">
                                        <button class="btn btn-primary m-1" type="submit" name="reservation"
                                            value="{{id}}">Supprimer</button>
                                    </form>
                                </div>
                                {{/if}}
                            </td>
                            {{/if}}
                        </tr>
                        {{/each}}
                    </tbody>
                    {{/if}}
                </table>
            </section>
            <div>&nbsp;</div>
            <div class="d-flex flex-column-reverse flex-md-row">
                <form class="col-10 col-md-4" action="/gestion/add_reservation" method="post">
                    <h3>Ajouter une réservation</h3>

                    <div class="d-flex flex-column my-2">
                        <div class="col-12">
                            <label for="firstname">Prénom : </label>
                        </div>
                        <div class="col-12">
                            <input type="text" name="firstname" required>
                        </div>
                    </div>
                    {{#if session.member.is_admin}}
                    <div class="d-flex flex-column my-2">
                        <div class="col-12">
                            <label for="lastname">Nom : </label>
                        </div>
                        <div class="col-12">
                            <input type="text" name="lastname">
                        </div>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <div class="col-12">
                            <label for="email">Email : </label>
                        </div>
                        <div class="col-12">
                            <input type="email" inputmode="email" name="email">
                        </div>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <div class="col-12">
                            <label for="phone_number">Numéro de téléphone : </label>
                        </div>
                        <div class="col-12">
                            <input type="tel" inputmode="tel" name="phone_number">
                        </div>
                    </div>
                    {{/if}}
                    <div class="d-flex flex-column my-2">
                        <div class="col-12">
                            <label for="persons">Nombre de personnes : </label>
                        </div>
                        <div class="col-12">
                            <input type="number" inputmode="numeric" name="persons" min="2" required>
                        </div>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <div class="col-12">
                            <label for="date">Date :</label>
                        </div>
                        <div class="col-12">
                            <input type="datetime-local" name="date" step="900">
                        </div>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <div class="col-12">
                            <label for="activities">Activités : </label>
                        </div>
                        <div class="col-12">
                            <select name="activities" class="select-size">
                                <optgroup label="Nos Jeux">
                                    <option value="Laser Game" selected>Laser Game</option>
                                    <option value="Réalité Virtuelle">Réalité Virtuelle</option>
                                    <option value="Cyber Games">Cyber Games</option>
                                </optgroup>
                                <optgroup label="Nos Packs">
                                    <option value="Anniversaire Laser Game">Anniversaire Laser Game</option>
                                    <option value="Anniversaire Trio Pack">Anniversaire Trio Pack</option>
                                    <option value="Famille Trio Pack">Famille Trio Pack</option>
                                </optgroup>
                                <optgroup label="Nos Combinaisons">
                                    <option value="Laser Game + Réalité Virtuelle">Laser Game + Réalité Virtuelle
                                    </option>
                                    <option value="Laser Game + Cyber Games">Laser Game + Cyber Games</option>
                                    <option value="Réalité Virtuelle + Cyber Games">Réalité Virtuelle + Cyber Games
                                    </option>
                                    <option value="Laser Game + Réalité Virtuelle + Cyber Games">
                                        Laser Game + Réalité Virtuelle + Cyber Games
                                    </option>
                                </optgroup>
                            </select>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Ajouter</button>
                </form>
                <div class="col-md-3">&nbsp;</div>
                <form id="statistiques" class="col-10 col-md-5" action="/gestion/statistiques" method="post">
                    <h3>Statistiques de la journée :</h3>
                    <div class="d-flex justify-content-between my-2">
                        <div class="col-6">
                            <label for="fdc_ouverture">Fond de caisse ouverture : </label>
                        </div>
                        <div class="col-6">
                            <p>{{statistiques.fdc_ouverture}}€</p>
                            <input type="number" name="fdc_ouverture" value="{{statistiques.fdc_ouverture}}" hidden>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between my-2">
                        <div class="col-6">
                            <label for="fdc_fermeture">Fonds de caisse fermeture : </label>
                        </div>
                        <div class="col-6">
                            <p>{{statistiques.fdc_fermeture}}€</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between my-2">
                        <div class="col-6">
                            <label for="total_bcc">Total Bancontact : </label>
                        </div>
                        <div class="col-6">
                            <p>{{statistiques.total_bcc}}€</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between my-2">
                        <div class="col-6">
                            <label for="total_cash">Total Cash : </label>
                        </div>
                        <div class="col-6">
                            <p>{{statistiques.total_cash}}€</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between my-2">
                        <div class="col-6">
                            <label for="total_boissons">Total Boissons : </label>
                        </div>
                        <div class="col-6">
                            <p>{{statistiques.total_boissons}}€</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between my-2">
                        <div class="col-6">
                            <label for="total_snack">Total Snack : </label>
                        </div>
                        <div class="col-6">
                            <p>{{statistiques.total_snack}}€</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between my-2">
                        <div class="col-6">
                            <label for="enveloppe">Enveloppe : </label>
                        </div>
                        <div class="col-6">
                            <input type="number" inputmode="numeric" name="enveloppe" value="{{statistiques.enveloppe}}"
                                min="0">
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Actualiser</button>
                </form>
            </div>
        </div>
    </section>
</main>