<main>
    <section id="gestionPage" class="container-fluid bg-dark text-white">
        <h1 class="title">Gestion du Laser Magique</h1>
        <h5>Bonjour <a href="/profile">{{session.member.firstname}}</a> !</h5>
        <div class="d-flex flex-column col-12 mb-5">
            {{#if (eq session.member.is_admin 0)}}
            <table id="res">
                <title>Réservations</title>
                <thead class="bg-green">
                    <th>Heure</th>
                    <th>Prénom</th>
                    <th>Nombre de personnes</th>
                    <th>Activités</th>
                    <th>Payé par</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {{#each reservations}}
                    {{#if (eq is_canceled 1)}}
                    <tr class="line-throught">
                        {{else}}
                    <tr>
                        {{/if}}
                        <td>{{date}}</td>
                        <td>{{firstname}}</td>
                        <td>{{persons}}</td>
                        <td>{{activities}}</td>
                        <td>{{payment_by}}</td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn text-white" data-bs-toggle="modal"
                                data-bs-target="#modal{{id}}">Infos</button>

                            <!-- Modal -->
                            <div class="modal fade bg-secondary" id="modal{{id}}" aria-labelledby="modalLabel{{id}}"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content bg-dark">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="modalLabel{{id}}">
                                                Informations de la réservation
                                            </h1>
                                        </div>
                                        <div class="modal-body">
                                            <form class="d-flex flex-column" action="/gestion/update_infos"
                                                method="post">
                                                <div class="d-flex justify-content-between">
                                                    <label for="firstname">Prénom : </label>
                                                    <input type="text" name="firstname" value="{{firstname}}" readonly>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <label for="persons">Nombre de personnes : </label>
                                                    <input type="number" name="persons" value="{{persons}}" min="2">
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <label for="activities">Activités : </label>
                                                    <select name="activities">
                                                        <optgroup label="Nos Jeux">
                                                            {{#if (eq activities "Laser Game")}}
                                                            <option value="Laser Game" selected>Laser Game</option>
                                                            {{else}}
                                                            <option value="Laser Game">Laser Game</option>
                                                            {{/if}}
                                                            {{#if (eq activities "Réalité Virtuelle")}}
                                                            <option value="Réalité Virtuelle" selected>
                                                                Réalité Virtuelle
                                                            </option>
                                                            {{else}}
                                                            <option value="Réalité Virtuelle">Réalité Virtuelle</option>
                                                            {{/if}}
                                                            {{#if (eq activities "Cyber Games")}}
                                                            <option value="Cyber Games" selected>Cyber Games</option>
                                                            {{else}}
                                                            <option value="Cyber Games">Cyber Games</option>
                                                            {{/if}}
                                                        </optgroup>
                                                        <optgroup label="Nos Packs">
                                                            {{#if (eq activities "Anniversaire Laser Game")}}
                                                            <option value="Anniversaire Laser Game" selected>
                                                                Anniversaire Laser Game
                                                            </option>
                                                            {{else}}
                                                            <option value="Anniversaire Laser Game">
                                                                Anniversaire Laser Game
                                                            </option>
                                                            {{/if}}
                                                            {{#if (eq activities "Anniversaire Trio Pack")}}
                                                            <option value="Anniversaire Trio Pack" selected>
                                                                Anniversaire Trio Pack
                                                            </option>
                                                            {{else}}
                                                            <option value="Anniversaire Trio Pack">
                                                                Anniversaire Trio Pack
                                                            </option>
                                                            {{/if}}
                                                            {{#if (eq activities "Famille Trio Pack")}}
                                                            <option value="Famille Trio Pack" selected>
                                                                Famille Trio Pack
                                                            </option>
                                                            {{else}}
                                                            <option value="Famille Trio Pack">Famille Trio Pack</option>
                                                            {{/if}}
                                                        </optgroup>
                                                        <optgroup label="Nos Combinaisons">
                                                            {{#if (eq activities "Laser Game + Réalité Virtuelle")}}
                                                            <option value="Laser Game + Réalité Virtuelle" selected>
                                                                Laser Game + Réalité Virtuelle
                                                            </option>
                                                            {{else}}
                                                            <option value="Laser Game + Réalité Virtuelle">
                                                                Laser Game + Réalité Virtuelle
                                                            </option>
                                                            {{/if}}
                                                            {{#if (eq activities "Laser Game + Cyber Games")}}
                                                            <option value="Laser Game + Cyber Games" selected>
                                                                Laser Game + Cyber Games
                                                            </option>
                                                            {{else}}
                                                            <option value="Laser Game + Cyber Games">
                                                                Laser Game + Cyber Games
                                                            </option>
                                                            {{/if}}
                                                            {{#if (eq activities "Réalité Virtuelle + Cyber Games")}}
                                                            <option value="Réalité Virtuelle + Cyber Games" selected>
                                                                Réalité Virtuelle + Cyber Games
                                                            </option>
                                                            {{else}}
                                                            <option value="Réalité Virtuelle + Cyber Games">
                                                                Réalité Virtuelle + Cyber Games
                                                            </option>
                                                            {{/if}}
                                                            {{#if (eq activities "Laser Game + Réalité Virtuelle + Cyber
                                                            Games")}}
                                                            <option value="Laser Game + Réalité Virtuelle + Cyber Games"
                                                                selected>
                                                                Laser Game + Réalité Virtuelle + Cyber Games
                                                            </option>
                                                            {{else}}
                                                            <option
                                                                value="Laser Game + Réalité Virtuelle + Cyber Games">
                                                                Laser Game + Réalité Virtuelle + Cyber Games
                                                            </option>
                                                            {{/if}}
                                                        </optgroup>
                                                    </select>
                                                </div>
                                                <dir>
                                                    <hr class="m-0">
                                                </dir>
                                                <div class="d-flex justify-content-between">
                                                    <label for="nbr_laser">Nombre de partie de Laser : </label>
                                                    <input type="number" name="nbr_laser" value="{{nbr_laser}}">
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <label for="nbr_vr">Nombre de partie de VR : </label>
                                                    <input type="number" name="nbr_vr" value="{{nbr_vr}}">
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <label for="nbr_ct">Nombre de partie de CT : </label>
                                                    <input type="number" name="nbr_ct" value="{{nbr_ct}}">
                                                </div>
                                                <dir>
                                                    <hr class="m-0">
                                                </dir>
                                                <div class="d-flex justify-content-between">
                                                    <label for="soft">Nombre de Soft : </label>
                                                    <input type="number" name="soft" value="{{soft}}" min="0">
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <label for="aquarius">Nombre d'Aquarius : </label>
                                                    <input type="number" name="aquarius" value="{{aquarius}}" min="0">
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <label for="capri_sun">Nombre de Capri Sun : </label>
                                                    <input type="number" name="capri_sun" value="{{capri_sun}}" min="0">
                                                </div>
                                                <dir>
                                                    <hr class="m-0">
                                                </dir>
                                                <div class="d-flex justify-content-between">
                                                    <label for="chips">Nombre de Chips : </label>
                                                    <input type="number" name="chips" value="{{chips}}" min="0">
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <label for="pop_corn">Nombre de Pop Corn : </label>
                                                    <input type="number" name="pop_corn" value="{{pop_corn}}" min="0">
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <label for="bonbon">Nombre de Bonbons : </label>
                                                    <input type="number" name="bonbon" value="{{bonbon}}" min="0">
                                                </div>
                                                <dir>
                                                    <hr class="m-0">
                                                </dir>
                                                <div class="d-flex justify-content-between">
                                                    <label for="deposit">Accompte : </label>
                                                    <input type="number" name="deposit" value="{{deposit}}">
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <label for="payment_bcc">Payé par Bcc : </label>
                                                    <input type="number" name="payment_bcc" value="{{payment_bcc}}"
                                                        min="0">
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <label for="payment_cash">Payé par Cash : </label>
                                                    <input type="number" name="payment_cash" value="{{payment_cash}}"
                                                        min="0">
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <label for="payment_by">Payé en : </label>
                                                    <select type="text" name="payment_by">
                                                        {{#if (eq payment_by "")}}
                                                        <option value="" selected>/</option>
                                                        {{else}}
                                                        <option value="">/</option>
                                                        {{/if}}
                                                        {{#if (eq payment_by "bcc")}}
                                                        <option value="bcc" selected>Bcc</option>
                                                        {{else}}
                                                        <option value="bcc">Bcc</option>
                                                        {{/if}}
                                                        {{#if (eq payment_by "cash")}}
                                                        <option value="cash" selected>Cash</option>
                                                        {{else}}
                                                        <option value="cash">Cash</option>
                                                        {{/if}}
                                                        {{#if (eq payment_by "bcc/cash")}}
                                                        <option value="bcc/cash" selected>Bcc &amp; Cash</option>
                                                        {{else}}
                                                        <option value="bcc/cash">Bcc &amp; Cash</option>
                                                        {{/if}}
                                                        {{#if (eq payment_by "Social Deal")}}
                                                        <option value="Social Deal" selected>Social Deal</option>
                                                        {{else}}
                                                        <option value="Social Deal">Social Deal</option>
                                                        {{/if}}
                                                    </select>
                                                </div>
                                                <dir>
                                                    <hr class="m-0">
                                                </dir>
                                                <div class="d-flex justify-content-between">
                                                    <label for="remaining">Restant : </label>
                                                    <input type="number" name="remaining" value="{{remaining}}"
                                                        readonly>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <label for="total">Total : </label>
                                                    <input type="number" name="total" value="{{total}}" readonly>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <label for="observation">Observations : </label>
                                                    <textarea name="observation" cols="30" rows="10"
                                                        placeholder="Aucune remarque à notifier ?">{{observation}}</textarea>
                                                </div>

                                                <button class="btn btn-primary" type="submit" name="id"
                                                    value="{{id}}">Enregistrer</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form action="/gestion/cancel" method="post">
                                <button type="submit" name="reservation" value="{{id}}">Annuler</button>
                            </form>
                            <form action="/gestion/delete" method="post">
                                <button type="submit" name="reservation" value="{{id}}">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <div class="form-control">
                <table>
                    <thead>
                        <th>Jour</th>
                    </thead>
                    <tbody>
                        <td>test</td>
                    </tbody>
                </table>
            </div>
            {{/if}}
            <div>&nbsp;</div>
            <form class="form-control col-10 col-md-7 col-lg-5" action="/gestion/add_reservation" method="post">
                <h5>Ajouter une réservation</h5>

                <div>
                    <label for="firstname">Prénom : </label>
                    <input type="text" name="firstname" value="{{reservation.firstname}}">
                </div>
                <div>
                    <label for="persons">Nombre de personnes : </label>
                    <input type="number" name="persons" value="{{reservation.persons}}" min="2">
                </div>
                <div>
                    <label for="date">Date :</label>
                    <input type="datetime-local" name="date">
                </div>
                <div>
                    <label for="activities">Activités : </label>
                    <select name="activities">
                        <optgroup label="Nos Jeux">
                            <option value="Laser Game" selected>Laser Game</option>
                            <option value="Réalité Virtuelle">Réalité Virtuelle</option>
                            <option value="Cyber Games">Cyber Games</option>
                        </optgroup>
                        <optgroup label="Nos Packs">
                            <option value="Anniversaire Laser Game">Anniversaire Laser Game</option>
                            <option value="Anniversaire Trio Pack">Anniversaire Trio Pack</option>
                            <option value="Famille Trio Pack">Famille Trio Pack</option>
                        </optgroup>
                        <optgroup label="Nos Combinaisons">
                            <option value="Laser Game + Réalité Virtuelle">Laser Game + Réalité Virtuelle</option>
                            <option value="Laser Game + Cyber Games">Laser Game + Cyber Games</option>
                            <option value="Réalité Virtuelle + Cyber Games">Réalité Virtuelle + Cyber Games</option>
                            <option value="Laser Game + Réalité Virtuelle + Cyber Games">Laser Game + Réalité Virtuelle
                                + Cyber Games</option>
                        </optgroup>
                    </select>
                </div>

                <button type="submit">Ajouter</button>
            </form>
        </div>
        <div id="tables" class="d-sm-flex">
            <table id="weapons">
                <thead>
                    <th>Liste des Armes</th>
                    <th>Problème</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    {{#each weapons}}
                    <tr>
                        <td><a href="/weapons?id={{id}}">{{id}}</a></td>
                        <td>{{problem}}</td>
                        <td>{{description}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <table id="headsets">
                <thead>
                    <th>Liste des Casques</th>
                    <th>Problème du casque</th>
                    <th>Problème des manettes</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    {{#each headsets}}
                    <tr>
                        <td><a href="/headsets">{{id}}</a></td>
                        <td>{{headset_problem}}</td>
                        <td>{{joycons_problem}}</td>
                        <td>{{description}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <table id="trikes">
                <thead>
                    <th>Liste des Trikes</th>
                    <th>Problème</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    {{#each trikes}}
                    <tr>
                        <td><a href="/trikes">{{id}}</a></td>
                        <td>{{problem}}</td>
                        <td>{{description}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
</main>