<main class="my-0">
    <section class="container-fluid bg-dark text-white py-0">
        <h1 class="title">Profil</h1>
        <h5>
            <a href="/gestion">Retour à la gestion</a>
            {{#if (eq session.member.firstname "Thimoté")}}
            <form action="/profil/switch_status" method="post">
                <button class="btn btn-primary" type="submit" name="id" value="{{session.member.id}}">Switch</button>
            </form>
            {{/if}}
        </h5>
        <div class="d-flex flex-column-reverse flex-md-row-reverse">
            <div class="col-12 col-md-5">
                <form class="form-control" action="/profil/manage" method="post">
                    {{#if (eq session.modify true)}}
                    <div>
                        <label for="firstname">Prénom : </label>
                        <input type="text" name="firstname" value="{{session.member.firstname}}" readonly>
                    </div>
                    <div>
                        <label for="lastname">Nom de Famille : </label>
                        <input type="text" name="lastname" value="{{session.member.lastname}}" readonly>
                    </div>
                    <div>
                        <label for="email">Email : </label>
                        <input type="email" name="email" value="{{session.member.email}}">
                    </div>
                    <div>
                        <label for="phone_number">Numéro de téléphone : </label>
                        <input type="tel" name="phone_number" value="{{session.member.phone_number}}">
                    </div>
                    <div>
                        <label for="password">Mot de passe : </label>
                        <input type="password" name="password" value="{{session.member.password}}">
                    </div>

                    <button class="btn btn-primary" type="submit" name="manage_button" value="save">Enregistrer</button>
                    {{else}}
                    <div>
                        <label for="firstname">Prénom : </label>
                        <input type="text" name="firstname" value="{{session.member.firstname}}" readonly>
                    </div>
                    <div>
                        <label for="lastname">Nom de Famille : </label>
                        <input type="text" name="lastname" value="{{session.member.lastname}}" readonly>
                    </div>
                    <div>
                        <label for="email">Email : </label>
                        <input type="email" name="email" value="{{session.member.email}}" readonly>
                    </div>
                    <div>
                        <label for="phone_number">Numéro de téléphone : </label>
                        <input type="tel" name="phone_number" value="{{session.member.phone_number}}" readonly>
                    </div>
                    <div>
                        <label for="password">Mot de passe : </label>
                        <input type="password" name="password" value="{{session.member.password}}" disabled>
                    </div>

                    <button class="btn btn-primary" type="submit" name="manage_button" value="modify">Modifier</button>

                    {{/if}}
                    <button class="btn btn-primary" type="submit" name="manage_button" value="disconnect">Se
                        déconnecter</button>
                </form>
            </div>
            <div class="col-12 col-md-7">
                <div class="overflow-x-scroll">
                    <table class="table">
                        <thead>
                            <th>Jour</th>
                            <th>Heure de début</th>
                            <th>Heure de fin</th>
                            <th>Nombre d'heures</th>
                            <th>Total de la journée</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            {{#each hours}}
                            <tr>
                                <td class="bg-dark">{{day}}</td>
                                <td class="bg-dark">{{beginning_hour}}</td>
                                {{#if today}}
                                <td class="bg-dark">
                                    <form action="/profil/update_hours" method="post">
                                        <input type="time" name="beginning_hour" value="{{beginning_hour}}" hidden>
                                        <input type="time" name="ending_hour" value="{{ending_hour}}" step="900">

                                        <button class="btn btn-primary" type="submit" name="id" value="{{id}}">Mettre à
                                            jour</button>
                                    </form>
                                </td>
                                {{else}}
                                <td class="bg-dark">{{ending_hour}}</td>
                                {{/if}}
                                <td class="bg-dark">{{hours}}</td>
                                <td class="bg-dark">{{money}}€</td>
                                <td class="bg-dark">
                                    <form action="/profil/delete_hours" method="post">
                                        <button class="btn btn-primary" type="submit" name="id"
                                            value="{{id}}">Supprimer</button>
                                    </form>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div>
                    <form class="d-flex my-2" action="/profil/add_hours" method="post">
                        <div>
                            <label for="beginning_hour">Heure de début : </label>
                            <input type="time" name="beginning_hour" step="900">
                        </div>

                        <button class="btn btn-primary mx-3" type="submit">Ajouter</button>
                    </form>
                    <p>Nombre d'heures sur le mois : {{totalHours}}</p>
                    <p>Salaire du mois : {{totalMoney}}€</p>
                </div>
            </div>
        </div>
    </section>
    {{#if session.member.is_admin}}
    <section>
        <h3 class="title">Member du Laser Magique</h3>
        <div class="overflow-x-scroll">
            <table class="table">
                <thead class="bg-green">
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Numéro de téléphone</th>
                    <th>Heures sur le mois</th>
                    <th>Salaire</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {{#each members}}
                    <tr>
                        <td class="bg-dark">{{firstname}}</td>
                        <td class="bg-dark">{{lastname}}</td>
                        <td class="bg-dark">{{email}}</td>
                        <td class="bg-dark">{{phone_number}}</td>
                        <td class="bg-dark">{{hours}}</td>
                        <td class="bg-dark">{{salary}}€</td>
                        <td class="bg-dark">
                            <form action="/profil/delete_member" method="post">
                                <button class="btn btn-primary" type="submit" name="id"
                                    value="{{id}}">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                    <form action="/profil/add_member" method="post">
                        <tr>
                            <td class="bg-dark"><input type="text" name="firstname"></td>
                            <td class="bg-dark"><input type="text" name="lastname"></td>
                            <td class="bg-dark"></td>
                            <td class="bg-dark"></td>
                            <td class="bg-dark"></td>
                            <td class="bg-dark"></td>

                            <td class="bg-dark"><button class="btn btn-primary" type="submit">Ajouter</button></td>
                        </tr>
                    </form>
                </tbody>
            </table>
        </div>
    </section>
    {{/if}}
</main>