<main class="container-fluid text-white">
    <section>
        <h1 class="title">Profil</h1>
        <h5><a href="/gestion">Retour à la gestion</a></h5>
        <div class="d-flex flex-column-reverse flex-md-row-reverse">
            <div class="col-8 col-md-5">
                <form class="form-control" action="/profile/manage" method="post">
                    {{#if (eq session.modify true)}}
                    <div>
                        <label for="firstname">Prénom : </label>
                        <input type="text" name="firstname" value="{{session.member.firstname}}" readonly>
                    </div>
                    <div>
                        <label for="lastname">Nom de Famille : </label>
                        <input type="text" name="lastname" value="{{session.member.lastname}}" readonly>
                    </div>
                    <div>
                        <label for="email">Email : </label>
                        <input type="email" name="email" value="{{session.member.email}}">
                    </div>
                    <div>
                        <label for="phone_number">Numéro de téléphone : </label>
                        <input type="tel" name="phone_number" value="{{session.member.phone_number}}">
                    </div>
                    <div>
                        <label for="password">Mot de passe : </label>
                        <input type="password" name="password" value="{{session.member.password}}">
                    </div>

                    <button type="submit" name="manage_button" value="save">Enregistrer</button>
                    {{else}}
                    <div>
                        <label for="firstname">Prénom : </label>
                        <input type="text" name="firstname" value="{{session.member.firstname}}" readonly>
                    </div>
                    <div>
                        <label for="lastname">Nom de Famille : </label>
                        <input type="text" name="lastname" value="{{session.member.lastname}}" readonly>
                    </div>
                    <div>
                        <label for="email">Email : </label>
                        <input type="email" name="email" value="{{session.member.email}}" readonly>
                    </div>
                    <div>
                        <label for="phone_number">Numéro de téléphone : </label>
                        <input type="tel" name="phone_number" value="{{session.member.phone_number}}" readonly>
                    </div>
                    <div>
                        <label for="password">Mot de passe : </label>
                        <input type="password" name="password" value="{{session.member.password}}" disabled>
                    </div>

                    <button type="submit" name="manage_button" value="modify">Modifier</button>

                    {{/if}}
                    <button type="submit" name="manage_button" value="disconnect">Se déconnecter</button>
                </form>
            </div>
            <div class="col-1"></div>
            <div>
                <table class="form-control">
                    <thead>
                        <th>Jour</th>
                        <th>Heure de début</th>
                        <th>Heure de fin</th>
                        <th>Nombre d'heures</th>
                        <th>Total de la journée</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        {{#each hours}}
                        <tr>
                            <td>{{day}}</td>
                            <td>{{beginning_hour}}</td>
                            <td>
                                <form action="/profile/update_hours" method="post">
                                    <input type="time" name="beginning_hour" value="{{beginning_hour}}" hidden>
                                    <input type="time" name="ending_hour" value="{{ending_hour}}" step="900">

                                    <button type="submit" name="id" value="{{id}}" hidden></button>
                                </form>
                            </td>
                            <td>{{hours}}</td>
                            <td>{{money}}€</td>
                            <td>
                                <form action="/profile/delete_hours" method="post">
                                    <button type="submit" name="id" value="{{id}}">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div>
                    <form action="/profile/add_hours" method="post">
                        <div>
                            <label for="beginning_hour">Heure de début : </label>
                            <input type="time" name="beginning_hour" step="900">
                        </div>

                        <button type="submit" hidden></button>
                    </form>
                    <p>Salaire du mois : <!-- TODO --></p>
                </div>
            </div>
        </div>
    </section>
    {{#if (eq session.member.is_admin 1)}}
    <section>
        <h3 class="title">Member du Laser Magique</h3>
        <table class="form-control">
            <thead>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Numéro de téléphone</th>
            </thead>
            <tbody>
                {{#each members}}
                <tr>
                    <td>{{firstname}}</td>
                    <td>{{lastname}}</td>
                    <td>{{email}}</td>
                    <td>{{phone_number}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
    {{/if}}
</main>