<main class="my-0">
    <section class="container-fluid bg-dark text-white py-0">
        <h1 class="title">Profil</h1>
        <h5>
            <a href="/gestion">Retour à la gestion</a>
            <form action="/profil/switch_status" method="post">
                <button class="btn btn-primary" type="submit" name="id" value="{{session.member.id}}">Switch</button>
            </form>
        </h5>
        <div class="d-flex flex-column-reverse flex-md-row-reverse">
            <div class="col-12 col-md-5">
                <form class="form-control" action="/profil/manage" method="post">
                    {{#if (eq session.modify true)}}
                    <div>
                        <label for="firstname">Prénom : </label>
                        <input type="text" name="firstname" value="{{session.member.firstname}}" readonly>
                    </div>
                    <div>
                        <label for="lastname">Nom de Famille : </label>
                        <input type="text" name="lastname" value="{{session.member.lastname}}" readonly>
                    </div>
                    <div>
                        <label for="email">Email : </label>
                        <input type="email" name="email" value="{{session.member.email}}">
                    </div>
                    <div>
                        <label for="phone_number">Numéro de téléphone : </label>
                        <input type="tel" name="phone_number" value="{{session.member.phone_number}}">
                    </div>
                    <div>
                        <label for="password">Mot de passe : </label>
                        <input type="password" name="password" value="{{session.member.password}}">
                    </div>

                    <button type="submit" name="manage_button" value="save">Enregistrer</button>
                    {{else}}
                    <div>
                        <label for="firstname">Prénom : </label>
                        <input type="text" name="firstname" value="{{session.member.firstname}}" readonly>
                    </div>
                    <div>
                        <label for="lastname">Nom de Famille : </label>
                        <input type="text" name="lastname" value="{{session.member.lastname}}" readonly>
                    </div>
                    <div>
                        <label for="email">Email : </label>
                        <input type="email" name="email" value="{{session.member.email}}" readonly>
                    </div>
                    <div>
                        <label for="phone_number">Numéro de téléphone : </label>
                        <input type="tel" name="phone_number" value="{{session.member.phone_number}}" readonly>
                    </div>
                    <div>
                        <label for="password">Mot de passe : </label>
                        <input type="password" name="password" value="{{session.member.password}}" disabled>
                    </div>

                    <button class="btn btn-primary" type="submit" name="manage_button" value="modify">Modifier</button>

                    {{/if}}
                    <button class="btn btn-primary" type="submit" name="manage_button" value="disconnect">Se
                        déconnecter</button>
                </form>
            </div>
            <div class="col-12 col-md-7">
                <table class="form-control overflow-x-scroll">
                    <thead>
                        <th>Jour</th>
                        <th>Heure de début</th>
                        <th>Heure de fin</th>
                        <th>Nombre d'heures</th>
                        <th>Total de la journée</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        {{#each hours}}
                        <tr>
                            <td>{{day}}</td>
                            <td>{{beginning_hour}}</td>
                            <td>
                                <form action="/profil/update_hours" method="post">
                                    <input type="time" name="beginning_hour" value="{{beginning_hour}}" hidden>
                                    <input type="time" name="ending_hour" value="{{ending_hour}}" step="900">

                                    <button class="btn btn-primary" type="submit" name="id" value="{{id}}">Mettre à jour</button>
                                </form>
                            </td>
                            <td>{{hours}}</td>
                            <td>{{money}}€</td>
                            <td>
                                <form action="/profil/delete_hours" method="post">
                                    <button type="submit" name="id" value="{{id}}">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div>
                    <form class="d-flex my-2" action="/profil/add_hours" method="post">
                        <div>
                            <label for="beginning_hour">Heure de début : </label>
                            <input type="time" name="beginning_hour" step="900">
                        </div>

                        <button class="btn btn-primary mx-3" type="submit">Ajouter</button>
                    </form>
                    <p>Nombre d'heures sur le mois : {{totalHours}}</p>
                    <p>Salaire du mois : {{totalMoney}}€</p>
                </div>
            </div>
        </div>
    </section>
    {{#if session.member.is_admin}}
    <section>
        <h3 class="title">Member du Laser Magique</h3>
        <table>
            <thead class="bg-green">
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Numéro de téléphone</th>
                <th>Heures sur le mois</th>
                <th>Salaire</th>
                <th>Action</th>
            </thead>
            <tbody>
                {{#each members}}
                <tr>
                    <td>{{firstname}}</td>
                    <td>{{lastname}}</td>
                    <td>{{email}}</td>
                    <td>{{phone_number}}</td>
                    <td>{{hours}}</td>
                    <td>{{salary}}€</td>
                    <td>
                        <form action="/profil/delete_member" method="post">
                            <button class="btn btn-primary" type="submit" name="id" value="{{id}}">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
                <form action="/profil/add_member" method="post">
                    <tr>
                        <td><input type="text" name="firstname"></td>
                        <td><input type="text" name="lastname"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td><button class="btn btn-primary" type="submit">Ajouter</button></td>
                    </tr>
                </form>
            </tbody>
        </table>
    </section>
    {{/if}}
</main>