<main class="mt-5">
    <section class="container-fluid bg-dark text-white py-0">
        <h1 class="title my-5">Gestion du stock</h1>

        <table class="table">
            <thead>
                <th>Produits</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Action</th>
            </thead>
            <tbody>
                {{#each stocks}}
                <tr>
                    <td>{{name}}</td>
                    {{#if (eq quantity "Racheter")}}
                    <td class="text-green">{{quantity}}</td>
                    {{else}}
                    <td>{{quantity}}</td>
                    {{/if}}
                    <td>{{price}}</td>
                    <td>
                        <form action="/stocks/add" method="post">
                            <input type="number" min="1" inputmode="numeric" name="quantity" required>

                            <button type="submit" class="btn btn-primary" name="name" value="{{name}}">Ajouter</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
</main>